h1{
    text-align: center;
}
a{
    color: black;
    font-size: large;
    text-decoration: none;
    margin-left: 20px;
}
a:link{
    color: black;
    font-size: large;
    text-decoration: none;
    margin-left: 20px;
}
a:visited{
    color: black;
    font-size: large;
    text-decoration: none;
    margin-left: 20px;
}
pre{
    font-size: larger;
    margin-left: 40px;
}
